@import "tailwindcss";
@import "@nuxt/ui";

:root {
  --ui-color-primary-50: #f0f9ff;
  --ui-color-primary-100: #e0f2fe;
  --ui-color-primary-200: #bae6fd;
  --ui-color-primary-300: #7dd3fc;
  --ui-color-primary-400: #168cbe;
  --ui-color-primary-500: #0f5170;
  --ui-color-primary-600: #0284c7;
  --ui-color-primary-700: #0369a1;
  --ui-color-primary-800: #075985;
  --ui-color-primary-900: #0c4a6e;

  --ui-color-secondary-50: #eff6ff;
  --ui-color-secondary-100: #dbeafe;
  --ui-color-secondary-200: #bfdbfe;
  --ui-color-secondary-300: #93c5fd;
  --ui-color-secondary-400: #60a5fa;
  --ui-color-secondary-500: #1e40af;
  --ui-color-secondary-600: #1d4ed8;
  --ui-color-secondary-700: #1e3a8a;
  --ui-color-secondary-800: #1e3a8a;
  --ui-color-secondary-900: #172554;

  --ui-primary: var(--ui-color-primary-500);
  --ui-secondary: var(--ui-color-secondary-500);
  --ui-success: var(--ui-color-success-500);
  --ui-info: var(--ui-color-info-500);
  --ui-warning: var(--ui-color-warning-500);
  --ui-error: var(--ui-color-error-500);
}

.dark {
  --ui-primary: var(--ui-color-primary-400);
  --ui-secondary: var(--ui-color-secondary-400);
  --ui-success: var(--ui-color-success-400);
  --ui-info: var(--ui-color-info-400);
  --ui-warning: var(--ui-color-warning-400);
  --ui-error: var(--ui-color-error-400);
}
